@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width:70%;
    display:block;
    padding: 1rem;   
    float:inherit;
    margin-left: 3.5rem;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: maroon;
}

.logo {
    width: 5.5rem;
    height: auto;
    float: left;
    margin: 1.5rem; 10%; 
    
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a, 
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

.billboard {
    overflow: hidden;
    background-image: url(/Users/suraiyacurrimbhoy/Desktop/INTERACTIVE%20DESIGN%20/github/assignment3/images/mainpic.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 50rem;
}

h1 {
    font-weight:normal;
    text-align:center;
    color:white;
    padding:.05rem 2%;
    font-size: 4.2rem;
    line-height: 3.75rem;
    margin:20rem 0 15%;
    font-family : Arial,Helvetica,sans-serif;
}

h2 {
    margin: 0 0 2.5rem;
    padding: 2;
    font-size: 1.75rem;
    color: white;
    background-color: black;
    text-align:center;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 2.5rem;
    padding: 2;
    font-size: 1rem;
    color: maroon;
    line-height:1.75rem;
    text-align:center;
}

figcaption {
    font-size: 1.0rem;
    margin: .5rem 1.5rem 1rem;
    color:white;
    padding: 2;
    text-align:center;
}

footer {
	background-color: maroon;
    overflow: hidden;
}

footer p {
    font-size: .75rem;
    margin: 1.0rem 5% 4rem;
    color: white;
}
