@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width:100%;
    display:block;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: maroon;
}

.logo {
    width: 5.5rem;
    height: auto;
    float: left;
    margin: 1.5rem; 10%; 
    
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a, 
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: maroon;
    font-size: 1.25rem;
    text-decoration: none;
    background-color: white;
}

article {
    padding: 1.5rem 5%;
    margin: 0;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/mainpic.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 50rem;
}

.billboard h1 {
    font-weight:normal;
    text-align:center;
    color:white;
    padding: 0;
    font-size: 4.2rem;
    margin: 10rem 0 5rem;
    font-family : Arial,Helvetica,sans-serif;
}

h2 {
    margin: 0 0 2.5rem;
    padding: 0;
    font-size: 1.75rem;
    text-align:center;
}

p {
    margin: 0 0 2.5rem;
    padding: 0;
    color: maroon;
    line-height: 1.75rem;
}

.bucket1 { 
    overflow: hidden;
}

.bucket1 figure {
    margin: 0;
    padding: 0;
}

.bucket1 a,
.bucket1 a:link,
.bucket1 a:visited {
    float:left;
    width: 45%;
    margin: 0 10% 3.5rem 0;
    padding: 0;
}

.bucket1 a:nth-child(even) {
    margin: 0;  
}

figcaption {
    font-size: 1.0rem;
    margin: .5rem 1.5rem 1rem;
    padding: 0;
}

footer {
	background-color: maroon;
    overflow: hidden;
}

footer p {
    font-size: .75rem;
    margin: 1.0rem 5% 4rem;
    color: white;
}

.bucket2 { 
    overflow:  hidden;
    background-color: maroon;
}

.bucket2 figure {
    margin: 0;
    padding: 0;
}

.bucket2 a,
.bucket2 a:link,
.bucket2 a:visited {
    float:left;
    width: 30%;
    margin: 0 5% .25rem ;
    padding: 0;
}

.bucket2 a:nth-child(odd) {
    margin: 0;  
}